<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GradeOutput</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Backpack CSS -->
    <link rel="stylesheet" href="https://cdn.skyscanner.net/backpack/backpack.min.css">

    <!-- Backpack JavaScript (Optional, if you need interactive components) -->
    <script src="https://cdn.skyscanner.net/backpack/backpack.min.js"></script>

        
</head>
<body>
    <div id="outputPagePercentage" class="center-wrapper">
        <h1>You achieved: {{ percentage }}%</h1>
    </div>

    <div id="outputPagePercentage" class="center-wrapper">
        <h1>Grade: {{ grade }}</h1>
    </div>

    <div id="outputPagePercentage" class="center-wrapper">
        <p>{{ table | safe }} </p>
    </div>
</body>
</html>
