<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Reference static files using url_for -->
    <script src="{{ url_for('static', filename='api.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>GradeChecker</title>
</head>
<body>

    <h1>GradeChecker</h1>
    <button type="Button" onclick="toInputsPage()">Try it out</button>

</body>
</html>
