<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Inputs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Backpack CSS -->
    <link rel="stylesheet" href="https://cdn.skyscanner.net/backpack/backpack.min.css">

    <!-- Backpack JavaScript (Optional, if you need interactive components) -->
    <script src="https://cdn.skyscanner.net/backpack/backpack.min.js"></script>
    
</head>
<body>
    <div id="inputPageTitle" class="center-wrapper">
    <h1 class="title-text">GradeChecker</h1>
    </div>

    <div id="inputPageLevelLabel" class="center-wrapper">
        <p class="label-text">Level:</p>
    </div>


    <div id="inputPageLevel" class="center-wrapper">

        <input type="radio" id="GCSE" name="examType", value="GCSE's" class="primary-radio">
        <label for="GCSE">GCSE's</label><br>

        <input type="radio" id="A-level" name="examType", value="A-level's" class="primary-radio">
        <label for="A-level">A-level's</label>
    </div>

    <div id="inputPageExamBoardLabel" class="center-wrapper">
        <p class="label-text">Exam Board:</p>
    </div>

    <div id="inputPageExamBoard" class="radio-wrapper">
        <input type="radio" id="Edexcel" name="examBoard" value="Edexcel" class="primary-radio">
        <label for="Edexcel">Edexcel</label><br>
        
        <input type="radio" id="AQA" name="examBoard" value="AQA" class="primary-radio">
        <label for="AQA">AQA</label><br>
        
        <input type="radio" id="OCR" name="examBoard" value="OCR" class="primary-radio">
        <label for="OCR">OCR</label><br>
        
        <input type="radio" id="WJEC" name="examBoard" value="WJEC" class="primary-radio">
        <label for="WJEC">WJEC</label><br>
        
        <input type="radio" id="CCEA" name="examBoard" value="CCEA" class="primary-radio">
        <label for="CCEA">CCEA</label><br>        
    </div>


    <div id="inputPageSubject" class="center-wrapper">
        <p class="label-text">Subject:</p>
        <input type="text" name="whichSubject" list="possibleSubjects">
        <datalist id="possibleSubjects">
        <option value="Maths">  
        <option value="English">
        </datalist>
    </div>

    
    <div id="inputPageMaxMark"  class="center-wrapper">
        <label for="maxMark">What was the maximum mark?: <span id="maxMarkDisplay">0</span></label><br>
        <input type="range" id="maxMark" name="maxMark" min="0" max="500" step="1" value="0" class="primary-slider">
    </div>
    
    <br>
    
    <div id="inputPageMark" class="center-wrapper">
        <label for="mark">Enter your mark: <span id="markDisplay">0</span></label><br>
        <input type="range" id="mark" name="mark" min="0" max="100" step="1" value="0" class="primary-slider">
    </div>
  
    <script src="{{ url_for('static', filename='api.js') }}" defer></script>

    <di class="center-wrapper">
        <button id="enterButton" onclick="submitInfo()" class="primary-button">Enter</button>
    </div>


</body>
</html>